@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
:root {
  /* color */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* background */
  --backgroundPrimary: #0061df;

  /* padding */
  --padding: 0 130px;
  --width: 1440px;
}

.title {
  color: #0d263b;
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.56px;
}

.subtitle {
  color: #0d263b;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.inline {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.center {
  height: 400px;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 25px !important;
  /* background-color: #000 !important;
color: #000 !important; */
}
.ant-select {
  height: 44px;
}